// COLORS

$white: #FFFFFF;
$light: #f4f6f7;
$dark: #222222;
$darker: #111111;
$black: #000000;
$primary: #1fba97;
$copy_dark: #0f2b43;
$copy: #475e86;
$link: #4a90e4;
$error: #ed0000;
// FONTS

$font--default : 'Roboto', sans-serif;

// WEIGHTS

$font--reg : 400;
$font--med : 500;
$font--bold : 700;

// SCREEN SIZES

$scr--xsmall : 480;
$scr--small : 640;
$scr--medium : 768;
$scr--wrap: 960;

$wrap: 1020;

// MISC

$fontSize--default : 1.6rem;
$fontSize--small : 1.4rem;
$lineHeight--default : 1.3;
$radius : .4rem;
$vspacer : 4rem;
$imgassets : '../img/';
$duration : .1s;
